<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="container">
       {% include 'header.html' %}
        <section id="login">
            <h2>로그인</h2>
            <form action="{{ url_for('login') }}" method="POST">
                <fieldset>
                    {% if error_msg %}
                        <p class="error">{{ error_msg }}</p>
                    {% endif %}
                    <ul>
                        <li>
                            <label>아이디</label>
                            <input type="text" name="memberid"></input>
                        </li>
                         <li>
                            <label>비밀번호</label>
                            <input type="password" name="passwd"></input>
                        </li>
                         <li>
                            <input type="submit" value="로그인"></input>
                        </li>
                    </ul>
                </fieldset>
            </form>
        </section>
       {% include 'footer.html' %}
    </div>

</body>
</html>